#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define BASE 0
#define NAV  1
#define NUM  2
#define SYM  3
#define FUN  4
#define MEDIA 5
#define MOUSE 6

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

/ {
    combos {
        compatible = "zmk,combos";

        combo_esc {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
        };
    };

    macros {
        gif: gif {
            label = "giphy";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LSHFT>,
                <&macro_tap>,
                <&kp N2>,
                <&macro_release>,
                <&kp LSHFT>,
                <&macro_tap>,
                <&kp G &kp I &kp F>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            label = "BASE";
            bindings = <
            &kp Q  &kp W               &kp E           &kp R               &kp T               &kp Y      &kp U       &kp I        &kp O       &kp P
            &kp A  &mt LEFT_COMMAND S  &mt LEFT_ALT D  &mt LEFT_CONTROL F  &kp G               &kp H      &kp J       &mt RCTRL K  &mt RALT L  &kp SEMICOLON
&kp DELETE  &kp Z  &kp X               &kp C           &kp V               &kp B               &kp N      &kp M       &kp COMMA    &kp DOT     &kp FSLH       &kp BSLH
                                       &kp ESCAPE      &lt 1 SPACE         &lt 5 LEFT_SHIFT    &lt 3 RET  &lt 2 BSPC  &kp TAB
            >;
        };

        nav_layer {
            label = "NAV";
            bindings = <
        &trans  &trans            &trans        &trans            &trans    &kp PG_UP  &kp HOME   &kp UP     &kp END    &kp INS
        &trans  &kp LEFT_COMMAND  &kp LEFT_ALT  &kp LEFT_CONTROL  &trans    &kp PG_DN  &kp LEFT   &kp DOWN   &kp RIGHT  &kp CAPS
&trans  &trans  &trans            &trans        &trans            &trans    &kp LC(Z)  &kp LC(X)  &kp LC(C)  &kp LC(V)  &kp LC(Y)  &trans
                                  &trans        &trans            &mo 5     &mo 4      &mo 0      &trans
            >;
        };

        num_layer {
            label = "NUM";
            bindings = <
        &trans  &trans            &trans        &trans     &trans    &kp LBKT   &kp N7  &kp N8  &kp N9  &kp RBKT
        &trans  &kp LEFT_COMMAND  &kp LEFT_ALT  &kp LCTRL  &trans    &kp EQUAL  &kp N4  &kp N5  &kp N6  &kp BSLH
&trans  &trans  &trans            &trans        &trans     &trans    &kp GRAVE  &kp N1  &kp N2  &kp N3  &kp SQT   &trans
                                  &mo 0         &mo 4      &trans    &trans     &trans  &kp N0
            >;
        };

        sym_layer {
            label = "SYM";
            bindings = <
        &kp LBRC   &kp AMPS  &kp ASTRK  &kp LPAR   &kp RBRC    &trans  &trans     &trans        &trans            &trans
        &kp COLON  &kp DLLR  &kp PRCNT  &kp CARET  &kp PLUS    &trans  &kp LCTRL  &kp LEFT_ALT  &kp LEFT_COMMAND  &trans
&trans  &kp TILDE  &kp EXCL  &kp AT     &kp HASH   &kp PIPE    &trans  &trans     &trans        &trans            &trans  &trans
                             &trans     &trans     &trans      &trans  &trans     &trans
            >;
        };

        fun_layer {
            label = "FUN";
            bindings = <
        &kp F12  &kp F7  &kp F8  &kp F9  &bootloader    &trans  &trans     &trans        &trans            &trans
        &kp F11  &kp F4  &kp F5  &kp F6  &sys_reset     &trans  &kp LCTRL  &kp LEFT_ALT  &kp LEFT_COMMAND  &trans
&trans  &kp F10  &kp F1  &kp F2  &kp F3  &kp CAPS       &trans  &trans     &trans        &trans            &trans  &trans
                         &trans  &trans  &trans         &trans  &trans     &trans
            >;
        };

        mouse_layer {
            label = "MOUSE";
            bindings = <
        &trans    &trans  &trans  &trans  &trans    &trans     &trans     &trans     &trans     &trans
        &kp LGUI  &trans  &trans  &trans  &trans    &trans     &trans     &trans     &trans     &trans
&trans  &trans    &trans  &trans  &trans  &trans    &kp LC(Z)  &kp LC(X)  &kp LC(C)  &kp LC(V)  &kp LC(Y)  &trans
                          &trans  &trans  &trans    &trans     &trans     &trans
            >;
        };
    };
};
